body{
    font-family:'Poppins',sans-serif;
    background:white;

}
.slider-container{
    width:500%;
    height:900px;
    overflow:hidden;
}
.slider-wrapper{
    display:flex;
    width:200%;
    transition:transform 0.5s ease-in-out;

}
.slider-slide{
    flex: 0 0 50%;
    position:relative;
}
.slider-image{
    width:500;
    height:400;
    object-fit:cover;
}
.text-overlay{
    position:absolute;
    width:100%;
    background:rgba(0, 0, 0, 0.5);
    color:rgb(196, 183, 10);
    padding:30px;
    box-sizing:border-box;
    text-align:center;
    top:0;
    font-size:27px;
}
.navbar {
    position:static;
    width:100%;
    background:rgba(0, 0, 0, 0.5);
    color:rgb(243, 49, 49);
    padding:10px;
    box-sizing:border-box;
    text-align:center;
    top:0;
    font-size:7px;

}
.navbar a{
    color:rgb(255, 255, 255);
    text-decoration:none;
    margin:0 10px;
}
.slider-arrow{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    font-size:24px;
    color:rgb(139, 65, 65);
    background-color:yellowgreen;
    padding:10px;
    border:none;
    z-index:1;
}
.prev {
    left:0;
}
.next{
    right:0;
}
.packages .box-container.box{
    border:2px solid black;
    box-shadow:var(--box-shadow);
    background:rgb(225,222,222);
    cursor:pointer;

}
.packages .box-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(20rem,1fr));
    gap:2rem;
}
.packages .box-container .box:hover .image imggg{
    transform: scale(1.5);

}
.packages .box-container .box .image imggg{
    height:20rem;
    overflow:hidden;
}
.packages .box-container .box .content imggg{
    padding:2rem;
    text-align:center;
}
.packages .box-container .box .content h3{
    font-size:2.5rem;
    color:black;
}
.packages .box-container .box .contentp{
    font-size:20px;
    color:grey;
    line-height:1.5;
    padding:1rem 0;

}
.btn{
    font-size:25px;
    padding:5px;
    background-color:black;
    color:white;

}
a{
    text-decoration:none;
    
}
